.AddProduct{
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 50px 20px;
    border-radius: 20px;
    background:rgb(251, 255, 142);
    text-align: center;
}
.addproduct-itemfield{
width: 100%;
font-size: 30px;

}

.addproduct-itemfield input{
    box-sizing: border-box;
    width: 500px;
    height: 50px;
    border-radius:4px ;
    padding-left: 15px;
    border: 1px;
    outline: none;
    font-size: 14px;
}
.add-product-selector{
    box-sizing: border-box;
    width: 500px;
    height: 60px;
    border-radius:4px ;
    padding-left: 15px;
    border: 1px;
    outline: none;
    font-size: 14px;
}

.addProduct-thumbnail-img{
    padding-top: 50px;
    cursor: pointer;
}

.addproduct-btn{
    width:300px;
    height: 50px;
    margin: auto;
    background-color: rgb(251, 56, 56);
    font-size: 30px;

}